@media (max-width:1145px) {
    svg {
        display: none;
    }

    .image-container img {
        display: inline;
        width: 100%;

    }

    .content-container {
        flex-direction: column-reverse;
    }

    .image-container {
        position: relative;
        right: -32%;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-bar ul {
        list-style: none;
        display: block;
        max-width: 312px;
        background: white;
        text-align: center;
        min-width: 312px;
        margin: auto;
        min-height: 233px;
        padding-top: 15px;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 9px 5px rgb(226 226 231 / 32%);
        -webkit-box-shadow: 0px 0px 9px 5px rgb(226 226 231 / 32%);
        -moz-box-shadow: 0px 0px 9px 5px rgb(226 226 231 / 32%);
        position: absolute;
        z-index: 6;
        top: 8rem;
       
    }

    .dot {
        display: none;
    }

    .hr-div {
        display: block;
    }

    li:not(:nth-of-type(1)) {
        padding-top: 1rem;
    }

    hr {
        width: 264px;
        margin: auto;
        background: #e0e0e0;
        border: none;
        height: 1px;
    }

.list-container {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .buttons-container {
        display: block;
        position: absolute;
        top: 4.4rem;
        right: 15%;
        cursor: pointer;
    }

    .logo-container {
        padding-left: 10px;
    }

    .buttons-container img:nth-of-type(2) {
        display: none;
    }

    body::before {

        min-width: 9rem;
        min-height: 25rem;

    }

    .content-container {
        margin-top: 0px;
    }

    .text-container {
        margin-top: 5rem;
        padding-left: 2rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    .demo-cont span:nth-of-type(2) {
        letter-spacing: 1px;
        margin-left: 1px;
        font-size: 10px;
    }

    .nav-bar ul {
        display: none;
    }
}
@media (max-width:679px) {
    .text.show {
        top: -72px;
        left: -18rem;
        width: 20rem;
        font-size: 14px;
        text-align: center;
    }
    
}
